body {
	background: #222;
	color: #FAFAFA;
	font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3 {

	font-family: 'Ubuntu', sans-serif;
}

h1 {
	font-size: 5em;
}

img {
	width: 100px;
	margin-right: 10px;
	background: white;
}

a {
	background: #444;
	padding: 5px;
	color: #A990D7;
	border-radius: 5px;
}

a:hover, a:active {
	color: #8161BB;
}

 a:visited {
 	color: #A990D7;
 }

header, h3 {
	display: inline-block;
}

dl {
  width: 100%;
  overflow: hidden;
  background: #222;
  padding: 5px;
  border-radius: 15px;
}
dt {
  float: left;
  width: 40%;
  font-weight: normal;
}
dd {
  float: left;
  width: 60%;
}

form {
	margin-bottom: 15px;
}

/*input, select, textarea {
	color: #444;
	
}*/
.channel {
	background: #333;
	margin: 10px auto;
	border: 1px solid #6441A4;
	padding: 15px;
	border-radius: 15px;
}

.channelIMG {
	display: inline-block;
}

.row {
	margin: 15px auto;
}

.selected {
	background: #6441A4;
	color: #FFF;
}

.red {
	color: red;
}

.flex {
	display: flex;
  align-items: center;
}

#selectPopular, #selectFeatured {
	margin: auto 0;
	padding: 20px;
	cursor: pointer;
}

#selectPopular {
	border-radius: 15px 0 0 15px;
}

#selectFeatured {
	border-radius: 0 15px 15px 0;
}

#popular, #featured {
	margin: 50px auto;
	width: 60%;
}



#searchInput {
	border: 1px solid #444;
	background: #333;
	color: #444;
}

#searchInput:focus {
	border: 2px solid #6441A4;
	color: #FFF;
}

#searchButton {
	background: #6441A4;
	color: #FFF;
	border: 1px solid #391777;
}

#searchButton:hover, #searchButton:active, #searchButton.active, #searchButton:focus, #searchButton.focus, #searchButton:active:hover, #searchButton.active:hover {
	background: #8161BB;
	border: 1px solid #6441A4;
	color: #FFF;
  outline: none;
}

#searchWindow {
	position: fixed;
	top: 25%;
	left: 25%;
	width: 50%;
	/*height: 50%;*/
	background: #6441A4;
	z-index: 1;
}

#selectAmount {
	background: #333;
	color:#FFF;	
	border: 1px solid #444;
}

#selectAmount:focus {
	color: #FFF;
	border: 1px solid #6441A4;
}

@media (max-width: 767px) {
	h1 {
		font-size: 2em;
	}
	h2 {
		margin-bottom: 1em;
	}
	h3 {
		font-size: 1em;
	}

	dl {
		padding: 1em;
	}

	dt {
		text-align: left;
	}

	dd {
		text-align: right;
	}

	.container-fluid {
		padding: 0;
	}
	.channel {
		text-align: center;
		border-radius: 0;
		border: none;
		border-bottom: 1px solid #444;
		padding: .25em;
	}

	.channel:nth-child(even) {
		background: #393939;
	}

	.channelIMG, img {
		display: block;
		margin: 0 auto;
	}
	.flex {
		display: block;
	}

	.col-xs-12 {
		padding: 0;
	}

	.col-sm-4 {
		margin-top: 2em;
	}

	#searchButton {
		width: 100%;
	}
	#popular, #featured, .channel{
		/*background: purple;*/
		width: 100%;
		margin:0;
	}

	#selectPopular, #selectFeatured {
		font-size: .5em;
	}
}