img {
	width: 100px;
	margin-right: 10px;
	background: white;
}

h2 {

}

#selectPopular, #selectFeatured {
	margin: auto 0;
	padding: 20px;
	cursor: pointer;
}

#popular, #featured {
	margin: 50px auto;
	/*width: 60%;*/
}

.channel {
	background: #F5F5F5;
	margin: 10px auto;
	/*border: 1px dotted #ABABAB;*/
}

.selected {
	background: #6441A4;
	color: #FFF;
}

#searchWindow {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	background: purple;
}