img {
	width: 100px;
	margin-right: 10px;
}

span {
	margin: 10px;
}

#popular div, #featured div {
	background: #F5F5F5;
	margin: 10px;
	border: 1px dotted #ABABAB;
}

.selected {
	background: #6441A4;
	color: #FFF;
}